<!-- article-item.component.html -->

<!-- <div class="article-item" [ngClass]="{'on-sale': article.isOnSale, 'not-available': !isAvailableForSale()}">
  <div class="image-container">
    <img [src]="article.imageUrl" alt="{{ article.name }} Image">
  </div>
  <h2>{{ article.name }}</h2>
  <p class="price" [ngClass]="{'not-available-price': !isQuantity()}">Price: {{ article.price }}</p>
  <button *ngIf="isAvailableForSale()" (click)="incrementQuantity()">+</button>
  <p *ngIf="isAvailableForSale()" class="quantity">{{ article.quantityInCart }}</p>
  <button *ngIf="isAvailableForSale()" (click)="decrementQuantity()" [disabled]="article.quantityInCart === 0">-</button>
</div> -->


<div class="article-item" [ngClass]="{'on-sale': article.isOnSale, 'not-available': !isAvailableForSale()}">
    <div class="image-container">
      <img [src]="article.imageUrl" alt="{{ article.name }} Image">
    </div>
    <h2>{{ article.name }}</h2>
    <p class="price" [ngClass]="{'not-available-price': !isQuantity()}">Price: {{ article.price }}</p>
    <button *ngIf="isAvailableForSale()" (click)="incrementQuantity()">+</button>
    <p *ngIf="isAvailableForSale()" class="quantity">{{ article.quantityInCart }}</p>
    <button *ngIf="isAvailableForSale()" (click)="decrementQuantity()" [disabled]="article.quantityInCart === 0">-</button>
  </div>
  